{% extends 'app/index.html' %}
{% load static %}
{% block title %} Contact US {% endblock title %}

{% block main-content %}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aperiam optio, facilis dignissimos harum blanditiis perferendis, vel dolore quibusdam dolores vero eaque quae, in autem ea modi ad quis nobis nemo laudantium fuga cum iusto. Qui fuga dolorem cumque ipsum vero quos. Maxime quos dolor, ex cupiditate non ullam at, magni perspiciatis, sapiente eius temporibus porro!
{% endblock main-content%}