{% extends 'app/index.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">

            {% if step == "reset_request" %}
                <h1>Reset Password</h1>
                <hr>
                <form action="" method="post" novalidate class="shadow p-5">
                    {% csrf_token %}
                    {% for fm in form %}
                        <div class="form-group">
                            {{ fm.label_tag }} {{ fm }}
                            <small class="text-danger">{{ fm.errors|striptags }}</small>
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary mt-4" value="Submit">
                    <br>
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-5">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </form>
                
            {% elif step == "email_sent" %}
                <h3 class="alert-handling">Well Done</h3>
                <p>An email has been sent with instructions to reset your password. <b>Please check your email.</b></p>
                
            {% elif step == "password_confirm" %}
                <h3>Password Confirm</h3>
                <hr>
                <form action="" method="post" novalidate class="shadow p-5">
                    {% csrf_token %}
                    {% for fm in form %}
                        <div class="form-group">
                            {{ fm.label_tag }} {{ fm }}
                            <small class="text-danger">{{ fm.errors|striptags }}</small>
                        </div>
                        <hr>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary mt-4" value="Submit">
                    <br>
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-5">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </form>

            {% elif step == "reset_completed" %}
                <h3>Password Reset Completed</h3>
                <hr>
                <p>Your password has been successfully reset. You can now <a href="{% url 'login' %}">login</a> with your new password.</p>

            {% else %}
                <p>Invalid step.</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock main-content %}
